<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bussystem_finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusSystem_Finalproject">
        <activity
            android:name=".userUI.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".adminUI.AdminsMainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".enterUI.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".enterUI.Signup"
            android:exported="false" />
        <activity
            android:name=".enterUI.Login"
            android:exported="false" />
        <activity
            android:name=".enterUI.Welcome"
            android:exported="false" />
        <activity
            android:name=".Splash.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>